<div class="center-align">
  <span class="green-text text-darken-3"><h2>Welcome!</h2></span>
  <h1 class="pink-text text-lighten-2"><I>My Shopping App</I></h1>
  <span class="green-text text-darken-2"><h4>Login to Enjoy Shopping...</h4></span>
  <h4 class="hoverable"><a href="/products">Take a look at website</a></h4>
<div>

