<body bgcolor="#99CCCC" text="#006600" vlink="#0066FF">
<p align=right>© <%= Date.today.year %> </p>
<HR SIZE="7" WIDTH="100%" color="#CC6699">

<p align=right>
  <%= link_to 'SignUp', new_customer_path %>
  <%= link_to 'Login', new_session_path %>
</p>

<font size = "15"><Strong><center>Welcome!</center></Strong></font>
<font size = "30" color="#CC6699"><h1><center><I>My Shopping App</I></center></h1></font>

<p>
  <h2><center>Login to Enjoy Shopping...</center></h2>
</p>
<p>
  <h3><center><%= link_to 'Take a look at website', products_path %></center></h3>
</p>

