<%= render 'shared/header' %>
<% if current_customer.shopping_cart_items.any? %>
<div>
  <% current_customer.shopping_cart_items.each do |item| %>
    <div id="shopping_cart_item_<%= item.id %>">
      <%= render partial: 'shopping_cart_item', locals: { item: item } %>
    </div>
  <% end %>
</div>
  <%= link_to 'Proceed to checkout', customer_path(current_customer) %>
<% else %>
  <p> Your cart is empty! </p>
  <p> Add a Product.. </p>
<% end %>


