<%= render 'shared/header' %>
<% if current_customer.shopping_cart_items.any? %>
<div class="cart">
  <% current_customer.shopping_cart_items.each do |item| %>
    <div id="<%= item.id %>">
      <%= render partial: 'shopping_cart_item', locals: { item: item } %>
    </div>
  <% end %>
  <%= link_to 'Proceed to checkout', new_customer_order_path(current_customer) %>
</div>
<% else %>
  <p> Your cart is empty! </p>
  <p> Add a Product.. </p>
<% end %>


